<!DOCTYPE html>
<html>
<head>
    <title>OFC Pineapple</title>

    <!--Vendor Imports-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap-theme.min.css"
          rel="stylesheet" type="text/css"/>

    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!--App Imports-->
    <link href="scripts/css/playingCards.ui.css" rel="stylesheet" type="text/css"/>
    <link href="scripts/css/ofcp.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<button class="btn btn-default" id="btn_logout">Logout</button>

<div class="container" id="div_gameSelect">
    <div class="row" id="div_createGame">
        <div class="col-md-3">
            <h3>Create New Game</h3>

            <form class="form-inline">
                <div class="form-group">
                    <input class="form-control" id="txt_createGame" type="text" maxlength="20"/>
                </div>
                <button class="btn btn-default" id="btn_createGame">Create</button>
            </form>
        </div>
        <div class="col-md-4">
            <h3>Games:</h3>

            <form class="form-inline">
                <div class="form-group">
                    <select class="form-control" id="gameList" data-bind="foreach:{data: gameList}">
                        <option class="selectGame" data-bind="text: name, attr: {'data-gameId': gameId}"/>
                    </select>
                </div>
                <button class="btn btn-default" id="btn_joinGame">Join Game</button>
            </form>

        </div>
    </div>
</div>
<br/>

<div class="container" id="div_game" style="display:none;">
    <!-- ko if: game().game && game().game.players -->
    <div class="row">
        <!-- ko if: _.find(game().game.players, function(player) { return player.playerId === username; }) -->
        <button id="leaveGame" onclick="leave();">Leave Game</button>
        <!-- /ko -->
        <!-- ko if: game().game && game().game.gameStatus && !game().game.gameStatus.started -->
        <button id="startGame" onclick="startGame();">Start Game</button>
        <!-- /ko -->
        <!-- ko if: game().game && game().game.gameStatus && !game().game.gameStatus.started && game().game.players.length===1-->
        <button id="addAi" onclick="addAi();">Add AI</button>
        <!-- /ko -->
    </div>
    <div class="row" id="div_players" data-bind="foreach: {data: game().game.players, afterRender: formatPlayer}">
        <div class="div_player col-lg-5">
            <div class="panel"
                 data-bind="css: {'panel-success': playerId === username, 'panel-info': playerId !== username}">
                <div class="panel-heading">
                    <h3 class="panel-title player_them" data-bind="text: playerId"></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            Score:
                            <span class="strong" data-bind="text: totalScore"></span>
                        </div>
                        <div class="col-md-4 text-center">
                            <span class="rainbow-blinky strong"
                                  data-bind="template: {if: fantasyland, afterRender: initBlinker}">FANTASYLAND!!</span>
                        </div>
                        <div class="col-md-4 text-right">
                            <!-- ko if: $parent.game().game.gameStatus.started -->
                            <span class="strong"
                                  data-bind="if: playerId === $parent.game().game.gameStatus.turn && playerId === username">
                                Your Turn</span>
                            <span class="strong"
                                  data-bind="if: playerId === $parent.game().game.gameStatus.turn && playerId !== username">
                                Their Turn</span>
                            <!-- /ko -->
                        </div>
                    </div>
                    <hr/>
                    <!-- ko if: playerId === 'ai' && $parent.game().game.gameStatus.turn === 'ai' && $parent.game().game.gameStatus.started-->
                    <div class="row text-center">
                        <button id="playAi" onclick="playAi();">Play AI Turn</button>
                    </div>
                    <hr/>
                    <!-- /ko -->
                    <div class="container board">
                        <div class="row frontRow" data-bind="text: frontRow, css: {winnerRow: !_.isEmpty($parent.game().game.gameStatus.winners) && $parent.game().game.gameStatus.winners.frontRow.playerId === playerId,
                                                                         loserRow: !_.isEmpty($parent.game().game.gameStatus.winners) && $parent.game().game.gameStatus.winners.frontRow.playerId !== playerId}"></div>
                        <!--ko if: !_.isEmpty($data.evalHands) && $data.evalHands.frontRow -->
                        <div class="scores">
                            <span data-bind="text: evalHands.frontRow.handName"></span>: <span
                                data-bind="text: evalHands.bonus.frontRow"></span>
                        </div>
                        <!--/ko -->
                        <div class="row midRow" data-bind="text: midRow, css: {winnerRow: !_.isEmpty($parent.game().game.gameStatus.winners) && $parent.game().game.gameStatus.winners.midRow.playerId === playerId,
                                                                         loserRow: !_.isEmpty($parent.game().game.gameStatus.winners) && $parent.game().game.gameStatus.winners.midRow.playerId !== playerId}"></div>
                        <!--ko if: !_.isEmpty($data.evalHands) && $data.evalHands.midRow -->
                        <div class="scores">
                            <span data-bind="text: evalHands.midRow.handName"></span>: <span
                                data-bind="text: evalHands.bonus.midRow"></span>
                        </div>
                        <!--/ko -->
                        <div class="row backRow" data-bind="text: backRow, css: {winnerRow: !_.isEmpty($parent.game().game.gameStatus.winners) && $parent.game().game.gameStatus.winners.backRow.playerId === playerId,
                                                                         loserRow: !_.isEmpty($parent.game().game.gameStatus.winners) && $parent.game().game.gameStatus.winners.backRow.playerId !== playerId}"></div>
                        <!--ko if: !_.isEmpty($data.evalHands) && $data.evalHands.backRow -->
                        <div class="scores">
                            <span data-bind="text: evalHands.backRow.handName"></span>: <span
                                data-bind="text: evalHands.bonus.backRow"></span>
                        </div>
                        <!--/ko -->
                        <div class="row unplayed" data-bind="text: unplayed, attr: {'data-username': playerId}"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /ko -->

</div>

<!-- Get Server Config -->
<script src="config"></script>

@@include

</body>
</html>
